{% extends 'base.html' %} {% block body %} {% for order in orders %} {% if count > 0 %}
<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
                <h5>Product Name</h5>
                <p class="card-text mt-3">{{order.product_name}}</p>
            </div>
            <div class="col-lg-3">
                <h5>Quantity</h5>
                <p class="card-text mt-3">{{order.quantity}}</p>
            </div>
            <div class="col-lg-3">
                <h5>Product Price</h5>
                <p class="prod-price mt-3">$ <span class="price">{{order.total_price}}</span></p>
            </div>
            <div class="col-lg-3">
                <h5>Action</h5>
                <a href="{% url 'products:delete-cart-product' order.id %}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title">No orders</h5>
    </div>
    {% endif %} {% endfor %}
    <div class="row">
        <div class="col-lg-8">
            <a href="{% url 'products:products' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
        <div class="col-lg-4">
            <h4>Total Price : $ <span class="total_price"></span></h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-4 mx-auto">
            <a href="{% url 'products:checkout' %}" class="btn btn-success w-100">Go To Checkout</a>
        </div>
    </div>
    <a href="{% url 'products:reset-cart' %}">Reset Cart</a>
    <script>
        let price = document.querySelectorAll(".price")
        let total_price = 0;
        for (var i = 0; i < price.length; i++) {
            total_price += Number(price[i].textContent)
        }
        $(".total_price").text(total_price)
    </script>
    {% endblock %}