{% extends 'base.html' %} {% block body %}

<div class="row">
    <div class="col-lg-6">
        <form action="{% url 'products:products' %}" method="POST">
            {% csrf_token %}

            <select name="category" id="category" class="category">
                <option value="category">Select Category</option>
            </select>
            <select name="sub_category" id="sub_category" class="sub_category">
                <option value="category">Select Sub-Category</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<div class="row">
    {% for i in products %}
    <div class="col-lg-4 my-3">
        <div class="card-group">
            <div class="card">
                <img src="{{i.prod_img.url}}" class="card-img-top" alt="{{i.product_name}}" style="height: 300px;">
                <div class="card-body">

                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'products:product_detail' i.id %}" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in products.paginator.page_range %} {% if products.number == i %}
        <li class="page-item active"><a class="page-link" href="">{{i}} (current)</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span>&raquo;</span></li>
        {% endif %}
        <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
    </ul>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var list = "{% url 'products:product_api' %}"
    var category = document.getElementById("category")
    var sub_category = document.getElementById("sub_category")
    var sub_cat = []
    var cat = [];
    axios.get(list)
        .then((data) => {
            cat = Object.keys(data.data)
            cat.forEach((val, ind) => {
                $(".category").append(`<option value=${val}>${val}</option>`)
            })
            $(".category").on("change", function() {
                var cat_value = $(this).val()
                if (cat_value == "Furniture") {
                    console.log(data.data["Furniture"])
                    for (var f of data.data["Furniture"]) {
                        console.log(f)
                        let createEle = document.createElement("option")
                        createEle.value = f
                        createEle.textContent = f
                        sub_category.appendChild(createEle)
                    }
                }
                if (cat_value == "ElectricAppliances") {
                    console.log(data.data["ElectricAppliances"])
                    for (var f of data.data["ElectricAppliances"]) {
                        console.log(f)
                        let createEle = document.createElement("option")
                        createEle.value = f
                        createEle.textContent = f
                        sub_category.appendChild(createEle)
                    }
                }
                if (cat_value == "FitnessEquipment") {
                    console.log(data.data["FitnessEquipment"])
                    for (var f of data.data["FitnessEquipment"]) {
                        console.log(f)
                        let createEle = document.createElement("option")
                        createEle.value = f
                        createEle.textContent = f
                        sub_category.appendChild(createEle)
                    }
                }
                if (cat_value == "Crockery") {
                    console.log(data.data["Crockery"])
                    for (var f of data.data["Crockery"]) {
                        console.log(f)
                        let createEle = document.createElement("option")
                        createEle.value = f
                        createEle.textContent = f
                        sub_category.appendChild(createEle)
                    }
                }
            })

        })
        .catch(err => console.log(err))
</script>

{% endblock %}