{% extends 'base.html' %} {% block body %}
<div class="row my-2">
    <div class="col-lg-10 mx-auto">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{product.prod_img.url}}" class="img-fluid rounded-start" alt="{{product.product_name}}" style="height: 438px; width: 100%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">{{product.product_desc}}</p>
                        <p class="card-text">{{product.prod_cat}} {{product.prod_sub}}</p>
                        <h4>Quantity : <input type="number" name="qunatity" id="qty" value="{{product.product_quantity}}" max="10" min="1"></h4>
                        <h4 class="mt-3">Price : $ {{product.product_price}} <span class="text-muted" style="font-size: 1rem;">for 1 week</span></h4>
                        <div class="text-end">
                            <span class="tag text-center mx-3">
                                {{product.prod_cat}}
                            </span>
                            <span class="tag text-center">
                                {{product.prod_sub}}
                            </span>
                        </div>
                    </div>
                    <div class="card-footer mt-5">
                        <button class="btn btn-primary mt-3" style="width: 100%">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}